body {
    background-color: lightblue;
    display: flex;
    justify-content: center;


}

.Template {
    text-align: center;
    margin-top: 25%;
    font-size: 32px;
}

.Template-title {
    font-size: 48px;
    line-height: 160px;
}

.Clock-days,
.Clock-hours,
.Clock-minutes,
.Clock-seconds {
    display: inline;
    margin: 10px;
}

.Deadline-input {
    font-size: 25px;
    margin: 5px;
}
