body {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    height: 100vh;
    background: rgba(255, 255, 255, 0.36);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.36) 0%, rgba(255, 173, 216, 0.36) 32%, #ff0066 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.36) 0%, rgba(255, 173, 216, 0.36) 32%, #ff0066 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.36) 0%, rgba(255, 173, 216, 0.36) 32%, #ff0066 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.36) 0%, rgba(255, 173, 216, 0.36) 32%, #ff0066 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.36) 0%, rgba(255, 173, 216, 0.36) 32%, #ff0066 100%);
}

span {
    color: #ff0066;
}

.Template {
    text-align: center;
    margin-top: 20vh;
    font-size: 32px;
}

.Template-title {
    margin-bottom: 2vw;
    font-size: 4vw;
}

.Template-title>span {
    font-weight: bold;
}

.Form-title {
    margin-top: 30px;
    font-size: 2vw;
    /*padding-top: 10px;*/
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds {
    display: inline;
    margin: 10px;
    padding: 10px;
    font-size: 2vw;
}

.Clock-days>span, .Clock-hours>span, .Clock-minutes>span, .Clock-seconds>span {
    font-weight: bold;
    font-size: 4vw;
    display: inline-block;
    width: 8vw;
    height: 8vw;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px 30px 20px 10px;
    border-radius: 50%;
}

.Deadline-input {
    font-size: 25px;
    margin: 5px;
}

.Deadline-input::placeholder {
    font-size: 12px;
    color: #ff0066;
}

.form-control {
    color: #ff0066;
    font-size: 2rem;
}

.loader {
    animation: loader 5s cubic-bezier(.8, 0, .2, 1) infinite;
    height: 40px;
    width: 41px;
    position: absolute;
    top: 8vw;
    left: calc(50% - 20px);
}

@keyframes loader {
    90% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.top {
    animation: top 5s linear infinite;
    border-top: 20px solid #ff0066;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    height: 0px;
    width: 1px;
    transform-origin: 50% 100%;
}

@keyframes top {
    90% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

.bottom {
    animation: bottom 5s linear infinite;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #ff0066;
    border-left: 20px solid transparent;
    height: 0px;
    width: 1px;
    transform: scale(0);
    transform-origin: 50% 100%;
}

@keyframes bottom {
    10% {
        transform: scale(0);
    }
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.line {
    animation: line 5s linear infinite;
    border-left: 1px dotted #ff0066;
    height: 0px;
    width: 0px;
    position: absolute;
    top: 20px;
    left: 20px;
}

@keyframes line {
    10% {
        height: 20px;
    }
    100% {
        height: 20px;
    }
}

i {
    color: white;
    padding-top: 60px;
}

.footer__text {
    font-size: 10px;
    padding-top: 20px;
}

.footer__text a {
    color: white;
}
